<%=content_for :title, "Drill"%>
<head>

</head>


<body>
  
  
  <%if @cards.count > 5%>

<!--<h1>Cards</h1>-->

<!--<p id='debug'><%=@card.level%></p>-->

<strong>Today's Rep Count:  </strong><br/><br/>
<!--<strong><div class='count'><%=session[:todays_rep_count]%></div></strong>-->
<strong><div class='count'><%=@history.repCount%></div></strong>



<strong>Points in a Row:  </strong><br/><br/>
<%=session[:correct_in_a_row]%>



<!--<%= @my_array.join ' ' %> -->
<!--<p>session[:current_id] <%=session[:current_id]%></p>-->
<!--<p>session[:choiceA_id] <%=session[:choiceA_id]%> </p>-->
<!--<p>session[:choiceB_id] <%=session[:choiceB_id]%> </p>-->
<!--<p>session[:choiceC_id] <%=session[:choiceC_id]%> </p>-->
<!--<p>session[:choiceD_id] <%=session[:choiceD_id]%> </p>-->





  <%if @card.level=="Easy"%>
    <div class='level_buttons'>
  <%=link_to 'Easy',change_level_to_easy_cards_path(level: 'Easy'), method: :post, id:"easy", class:"btn btn-default active"   %>
  <%=link_to 'Medium',change_level_to_medium_cards_path(level: 'Medium'), method: :post, id:"medium", class:"btn btn-default"  %>
  <%=link_to 'Hard',change_level_to_hard_cards_path(level: 'Hard'), method: :post, id:"hard", class:"btn btn-default"  %>
  </div>
  <%elsif @card.level=="Medium"%>
   <div class='level_buttons'>
  <%=link_to 'Easy',change_level_to_easy_cards_path(level: 'Easy'), method: :post, id:"easy", class:"btn btn-default"   %>
  <%=link_to 'Medium',change_level_to_medium_cards_path(level: 'Medium'), method: :post, id:"medium", class:"btn btn-default active"  %>
  <%=link_to 'Hard',change_level_to_hard_cards_path(level: 'Hard'), method: :post, id:"hard", class:"btn btn-default"  %>
  </div>
  <%else%>
    <div class='level_buttons'>
  <%=link_to 'Easy',change_level_to_easy_cards_path(level: 'Easy'), method: :post, id:"easy", class:"btn btn-default"   %>
  <%=link_to 'Medium',change_level_to_medium_cards_path(level: 'Medium'), method: :post, id:"medium", class:"btn btn-default"  %>
  <%=link_to 'Hard',change_level_to_hard_cards_path(level: 'Hard'), method: :post, id:"hard", class:"btn btn-default active"   %>
  </div>
  <%end%>
  <br/><br/>

  


<br/><br/>


  <div id='question'>
  <strong > <%=@card.question %> </strong>
</div>


<br/><br/>
<div class='choice_buttons'>
  <%=link_to "#{Card.find(session[:choiceA_id]).answer}", choiceA_selected_cards_path, class: 'btn btn-primary', method: :post%>
  <%=link_to "#{Card.find(session[:choiceB_id]).answer}", choiceB_selected_cards_path, class: 'btn btn-primary', method: :post%>
  <%=link_to "#{Card.find(session[:choiceC_id]).answer}", choiceC_selected_cards_path, class: 'btn btn-primary', method: :post%>
  <%=link_to "#{Card.find(session[:choiceD_id]).answer}", choiceD_selected_cards_path, class: 'btn btn-primary', method: :post%>
   </div>


<br/>
<%=link_to 'Reinico Reps', reset_rep_cards_path, class: 'btn btn-success', method: :post%>

<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Media</th>
      <th>Comment</th>
      <th>Rep</th>
      <th>Level</th>
      <th>Category</th>
      <th>User</th>
      <th>Updated At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.id %></td>
        <td><%= card.question %></td>
        <td><%= card.answer %></td>
        <td><%= card.media %></td>
        <td><%= card.comment %></td>
        <td><%= card.rep %></td>
        <td><%= card.level %></td>
        <td><%= card.category %></td>
        <td><%= card.user_id %></td>
        <td><%= card.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%I:%M:%S:%p %m-%d-%y") %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%else%>
</br>
<div class='count'>You have <%=@cards.count%> cards. You need at least 4 cards in the database</div>
<%end%>
<%= link_to 'New Card', new_card_path %>



</body>


