<%=content_for :title, "Drill"%>
<head>

</head>


<body>
  
  
  <%if @cards.count > 5%>

<!--<h1>Cards</h1>-->

<!--<p id='debug'><%=@card.level%></p>-->
<div class='well'>
<!-- <div class='italic_text'>Points in a row:  <%=session[:correct_in_a_row]%></div>-->
<!--<strong>Today's Rep Count: <%=@history.repCount%> </strong>-->
<!--<strong><div class='count'><%=session[:todays_rep_count]%></div></strong>-->
<!--<strong><div class='count'><%=@history.repCount%></div></strong>-->
<div class='score-board'>
 <%=link_to "Score: #{@history.repCount}", histories_path%>
</div>  

<div style="font-family: 'Orbitron', sans-serif;"><%=link_to "Score: #{@history.repCount}", histories_path%></div>





<!--<%= @my_array.join ' ' %> -->
<!--<p>session[:current_id] <%=session[:current_id]%></p>-->
<!--<p>session[:choiceA_id] <%=session[:choiceA_id]%> </p>-->
<!--<p>session[:choiceB_id] <%=session[:choiceB_id]%> </p>-->
<!--<p>session[:choiceC_id] <%=session[:choiceC_id]%> </p>-->
<!--<p>session[:choiceD_id] <%=session[:choiceD_id]%> </p>-->





  <%if @card.level=="Easy"%>
    <div class='level_buttons'>
  <%=link_to 'Easy',change_level_to_easy_cards_path(level: 'Easy'), method: :post, id:"easy", class:"btn btn-default active"   %>
  <%=link_to 'Medium',change_level_to_medium_cards_path(level: 'Medium'), method: :post, id:"medium", class:"btn btn-default"  %>
  <%=link_to 'Hard',change_level_to_hard_cards_path(level: 'Hard'), method: :post, id:"hard", class:"btn btn-default"  %>
  </div>
  <%elsif @card.level=="Medium"%>
   <div class='level_buttons'>
  <%=link_to 'Easy',change_level_to_easy_cards_path(level: 'Easy'), method: :post, id:"easy", class:"btn btn-default"   %>
  <%=link_to 'Medium',change_level_to_medium_cards_path(level: 'Medium'), method: :post, id:"medium", class:"btn btn-default active"  %>
  <%=link_to 'Hard',change_level_to_hard_cards_path(level: 'Hard'), method: :post, id:"hard", class:"btn btn-default"  %>
  </div>
  <%else%>
    <div class='level_buttons'>
  <%=link_to 'Easy',change_level_to_easy_cards_path(level: 'Easy'), method: :post, id:"easy", class:"btn btn-default"   %>
  <%=link_to 'Medium',change_level_to_medium_cards_path(level: 'Medium'), method: :post, id:"medium", class:"btn btn-default"  %>
  <%=link_to 'Hard',change_level_to_hard_cards_path(level: 'Hard'), method: :post, id:"hard", class:"btn btn-default active"   %>
  </div>
  <%end%>


  
  <hr/>



  <div id='question'>
  <strong > <%=@card.question %> </strong>
</div>


<br/>
<div class='choice_buttons center-block'>
 
  <%=link_to "#{Card.find(session[:choiceA_id]).answer}", choiceA_selected_cards_path, class: 'btn btn-primary btn-block', method: :post%><br/>
  <%=link_to "#{Card.find(session[:choiceB_id]).answer}", choiceB_selected_cards_path, class: 'btn btn-primary btn-block', method: :post%><br/>
  <%=link_to "#{Card.find(session[:choiceC_id]).answer}", choiceC_selected_cards_path, class: 'btn btn-primary btn-block', method: :post%><br/>
  <%=link_to "#{Card.find(session[:choiceD_id]).answer}", choiceD_selected_cards_path, class: 'btn btn-primary btn-block', method: :post%><br/>

   </div>


<br/>


<br>
<%else%>
</br>
<div class='count'>You have <%=@cards.count%> cards. You need at least 4 cards in the database</div>
<%end%>



</body>


