



<!DOCTYPE html>
<html>
  <head>
    


</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    showMathMenu: false
  });
</script>

<script type="text/javascript"
   src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML&delayStartupUntil=configured">
</script>
  
<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function () {
       document.getElementById("question").style.visibility = "visible";
      // alert('Hello');
    });
 </script>
    
    
    <!--<title>Rails - LearningMachine042417</title>-->
    <title><%=(yield(:title) + " - " unless yield(:title).blank?).to_s + "Learning Machine"   %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  





  </head>
 
  <body>

  <div class='container-fluid'>
    
    
    
        <%=render 'layouts/navigation'%>
        
          <div id='flash'>
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
          </div>
        <%=render 'layouts/flash'%>
    <%= yield %>
      </div>
  </body>
  
  <script>
      MathJax.Hub.Typeset();
</script>
  
  
</html>



 

 <script>
$(document).ready(function(){
        // $("#question").fadeIn(3000).removeClass('hidden');
        $("#question").fadeIn(2000);
});
</script>

<footer>
  <script type="text/javascript">
  MathJax.Hub.Configured()
</script>
</footer>


