<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 2000);
 })
</script>

<!DOCTYPE html>
<html>
  <head>
    <title>Rails - LearningMachine042417</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  

<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function () {
       document.getElementById("question").style.visibility = "visible";
    });
 </script>
</script>
<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
  
  

  </head>
 
  <body>

  <div class='container-fluid'>
    
    
    
        <%=render 'layouts/navigation'%>
        
          <div id='flash'>
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
          </div>
        <%=render 'layouts/flash'%>
    <%= yield %>
      </div>
  </body>
</html>
